* {
    margin: 0;
    padding: 0;
}
body{
    background: #4BD1CC;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI","Microsoft YaHei";
}

.container{
    position: absolute;
    min-width: 256px;
    max-width:325px;
    width: 50%;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 1s ease;;
    transform-origin: 0 0;
}
.navigation {
    width:100%;
    height:100%;
}
.navigation:hover{

}
@media only screen and (max-width:320px){
    .container{
        width: 80%;
    }
}
.navigation tr th {
    position: relative;
    background: #5CD6D2;
}
.navigation tr th .th-block{
    position: absolute;
    left:10%;
    top:10%;
    width: 80%;
    height:80%;
    background: #2eb8b3;
    color: #ffffff;
    text-align: center;
    cursor:pointer;
}

.navigation tr th .th-block i{
    position: absolute;
    background: #2eb8b3;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%) ;
    transition: all 0.25s;
}

.navigation tr th .th-block .th-title {
    position: absolute;
    width:100%;
    /*background: #2eb8b3;*/
    left:50%;
    top:100%;
    transform: translateX(-50%) translateY(0%);
    opacity:0;
    transition: all 0.25s;
}
.navigation tr th .th-block:hover i{
    left:50%;
    top:10%;
    transform: translateX(-50%) translateY(0%) scale(0.8);
}
.navigation tr th .th-block:hover .th-title{
    left:50%;
    top:100%;
    transform: translateX(-50%) translateY(-100%);
    opacity:1;
}
section{
    display: none;
    margin: 70px 20px;
    /*color:white;*/
}
.btn-close{
    position: absolute;
    right: 20px;
    top:20px;
    display:none;
    cursor: pointer;
    color: #ffffff;
}
.btn-close:hover{
    color:#31b0d5;
}
.chart {
    margin:0 auto;
}
#project .panel .panel-heading,.qrcode{
    cursor: pointer;
}
#project .panel .panel-body{
    display: none;
}


#about h2,#about p{
    font-size:100%;
    font-weight:normal;
}
#about ul,#about li{
    list-style:none;
}
#about ul{
    overflow:hidden;
    padding:3em;
}
#about ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}
#about ul li{
    margin:1em;
    float:left;
}
#about ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
}
#about ul li p{
    font-family:"Microsoft YaHei UI",arial,sans-serif;
    font-size:60%;
}
#about ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
}
#about ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}
#about ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}
#about ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}
#about ul li a:hover,#about ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}
#about ol{text-align:center;}
#about ol li{display:inline;padding-right:1em;}
#about ol li a{color:#fff;}